<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the msg</title>
</head>
<body>
    <h1>Edit the message</h1>
        
        <p>edit your chat : <b><%= chat._id %></b></h3>
        <p>chat sended from <b><i><%= chat.from %></i></b> to <b><i><%= chat.to %></i></b></p> 
        <form method="post" action="/chats/<%= chat._id %>?_method=PATCH">
            <p>Edit the message : <br/><textarea name="msg" cols="20" rows="5"><%= chat.msg%></textarea></p>
            <button>Edit</button>    
        </form>
   
</body>
</html>